<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	      http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<display-name>quizserlvet</display-name>

    <servlet>
        <servlet-name>quizserlvet</servlet-name>
        <servlet-class>it.gigaclood.alexa.quiz.QuizSkillServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>quizserlvet</servlet-name>
        <url-pattern>/main</url-pattern>
    </servlet-mapping>

</web-app>